// COMMON

body {
    @include animation-opacity;
    @include transition-all;
    @include font-primary;
    @include text-selection;
    background: $color-white;
    position: relative;
}

.container-fluid {
    width: 100vw;
}

.container {
    margin: 0 auto;
    @include min-lg {
        max-width: 95vw;
    }
    @include min-md {
        max-width: 75vw;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
