// COMMON

body {
    @include animation-opacity;
    @include transition-all;
    @include font-primary;
    position: relative;
    height: 100vh;
    &.dark-mode {
        @include color-invert;
        @include transition-filter;
    }
}

.container-fluid {
    width: 100vw;
}

.container {
    margin: 0 auto;
    max-width: 95vw;
    @include min-md {
        max-width: 75vw;
    }
}

.wrapper {
    display: flex;
    justify-content: space-between;
}
