// HEADER

.header {
    background: $color-marine;
    height: $helper-space * 3;
    &__wrapper {
        & > div {
            @include flex-center;
            height: $helper-space * 3;
        }
    }
    &__brand {
        h1 {
            @include text-uppercase;
            display: inline-block;
            color: $color-venice;
            margin-left: $helper-space / 2;
        }
    }
    &__filter {
        span {
            @include text-uppercase;
            color: $color-bermuda;
            margin-right: $helper-space / 2;
        }
        ul {
            @include flex-row;
            li {
                a {
                    color: $color-bermuda;
                    padding: $helper-space / 2;
                    text-decoration: none;
                    &.selected {
                        @include border-radius;
                        background: $color-bermuda;
                        color: $color-white;
                    }
                }
            }
        }
    }
}
