// HEADER

.header {
    @include font-sm;
    background: $color-marine;
    height: $helper-space * 3;
    @include max-xs {
        height: $helper-space * 6;
    }
    &__wrapper {
        @include max-xs {
            display: block;
        }
        & > div {
            @include flex-center;
            height: $helper-space * 3;
        }
    }
    &__brand {
        @include max-xs {
            border-bottom: $border-placeholder;
        }
        img {
            @include border-wcag-dashed;
            @include max-md {
                margin-left: $helper-half;
            }
            @include device-landscape {
                margin-left: $helper-space / 4;
            }
        }
        h1 {
            @include text-uppercase;
            display: inline-block;
            color: $color-venice;
            margin-left: $helper-half;
            @include max-xs {
                @include font-lg;
            }
        }
    }
    &__filter {
        @include max-md {
            margin-right: $helper-half;
        }
        @include device-landscape {
            margin-right: $helper-space / 4;
        }
        @include max-xs {
            background: $color-primary;
            padding: 0 $helper-half;
            margin: 0;
        }
        span {
            @include text-uppercase;
            color: $color-bermuda;
            margin-right: $helper-half;
            @include max-md {
                display: none;
            }
        }
        .header__navigation {
            width: auto;
            > ul {
                @include flex-row;
                @include clearfix;
                position: relative;
                > li {
                    @include size-navigation;
                    @include font-md;
                    position: relative;
                    text-align: center;
                    z-index: 1;
                    justify-content: center;
                    height: $helper-space * 2;
                    @for $i from 1 through 4 {
                        &:nth-of-type(#{$i}) {
                            &:hover {
                                ~ .header__filter-overlay {
                                    left: ($i - 1) * $helper-space * 3.6;
                                    @include device-landscape {
                                        left: ($i - 1) * $helper-space * 3.3;
                                    }
                                    @include max-xs {
                                        left: ($i - 1) * $helper-space * 4.8;
                                    }
                                }
                            }
                        }
                    }
                    &.header__filter-overlay {
                        @include size-navigation;
                        @include transition-all;
                        @include border-radius;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: $color-bermuda;
                        height: 100%;
                        z-index: 0;
                    }
                    > a {
                        @include border-wcag-dashed;
                        @include transition-all;
                        display: block;
                        padding: $helper-half;
                        text-decoration: none;
                        color: $color-bermuda;
                        margin-top: -#{$border-width};
                        @include device-landscape {
                            @include font-sm;
                            line-height: $helper-space;
                        }
                        @include max-xs {
                            @include flex-center;
                            justify-content: center;
                            &:focus {
                                @include border-wcag-color;
                                color: $color-wcag;
                            }
                        }
                    }
                    &:first-child {
                        > a {
                            color: $color-primary;
                        }
                    }
                }
                &:hover {
                    li:hover {
                        > a {
                            color: $color-primary;
                        }
                    }
                    li:not(:hover) {
                        > a {
                            color: $color-bermuda;
                        }
                    }
                }
            }
        }
    }
}
