// HEADER

.header {
    @include font-xs;
    background: $color-marine;
    height: $helper-space * 3;
    &__wrapper {
        & > div {
            @include flex-center;
            height: $helper-space * 3;
        }
    }
    &__brand {
        img {
            @include border-wcag;
        }
        h1 {
            @include text-uppercase;
            display: inline-block;
            color: $color-venice;
            margin-left: $helper-space / 2;
        }
    }
    &__filter {
        span {
            @include text-uppercase;
            color: $color-bermuda;
            margin-right: $helper-space / 2;
        }
        .header__navigation {
            width: auto;
            > ul {
                @include flex-row;
                @include clearfix;
                position: relative;
                > li {
                    width: $helper-space * 3.25;
                    position: relative;
                    text-align: center;
                    z-index: 1;
                    @for $i from 1 through 5 {
                        &:nth-of-type(#{$i}) {
                            &:hover {
                                ~ .header__filter-overlay {
                                    left: ($i - 1) * $helper-space * 3.25;
                                }
                            }
                        }
                    }
                    &.header__filter-overlay {
                        @include transition-all;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: $helper-space * 3.25;
                        height: 100%;
                        background-color: $color-venice;
                        z-index: 0;
                    }
                    > a {
                        @include border-wcag;
                        display: block;
                        color: $color-bermuda;
                        padding: $helper-space / 2;
                        text-decoration: none;
                        &.selected {
                            @include border-radius;
                            // background: $color-bermuda;
                            color: $color-white;
                        }
                        &:hover {
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}
