// SEARCH

.search {
    background: $color-alabaster;
    height: $helper-space * 4;
    border-top: $border-placeholder;
    border-bottom: $border-placeholder;
    @include max-xs {
        height: $helper-space * 6;
        padding: $helper-half 0;
        border-color: $color-bermuda;
    }
    &__wrapper {
        @include flex-center;
        height: $helper-space * 4;
        @include max-md {
            margin: 0 $helper-half;
        }
        @include max-xs {
            flex-flow: column wrap;
            height: $helper-space * 6;
        }
    }
    &__box {
        position: relative;
        @include max-xs {
            order: 2;
        }
    }
    &__icon {
        &::before {
            content: url(./img/search.png);
            position: absolute;
            top: $helper-half;
            left: $helper-half;
            @include device-retina {
                filter: opacity(0.5);
            }
            @include max-xs {
                top: $helper-space * 0.75;
            }
        }
    }
    &__input {
        @include border-radius;
        @include font-primary;
        @include font-md;
        @include input-status;
        @include input-safari;
        padding-left: $helper-space * 1.75;
        height: $helper-space * 2;
        border: $border-width $border-style $color-silver;
        color: $color-carbon;
        @include input-placeholder {
            color: $color-silver;
        }
        @include device-landscape {
            width: 36vw;
        }
        @include min-md {
            width: 20vw;
        }
        @include min-lg {
            width: 16vw;
        }
        @include max-xs {
            @include font-lg;
            width: 95vw;
            height: $helper-space * 2.75;
        }
        &[type="search"]:focus {
            @include box-shadow;
            @include input-status;
            border: $border-width $border-style $color-venice;
            outline: 0;
        }
    }
    &__status {
        @include max-xs {
            display: none;
        }
        margin-left: $helper-half;
        &.success {
            color: $color-green-default;
        }
        &.error {
            color: $color-wcag;
        }
    }
    &__button {
        @include border-radius;
        @include font-primary;
        @include transition-all;
        @include font-md;
        background: $color-green-default;
        color: $color-primary;
        padding: 0 $helper-space;
        height: $helper-space * 2;
        border: $border-placeholder;
        cursor: pointer;
        @include max-xs {
            width: 95vw;
            order: 1;
            height: $helper-space * 2.75;
        }
        &:focus {
            border: $border-width $border-style $color-wcag;
            outline: 0;
        }
        &:hover {
            @include box-shadow;
            background: $color-green-hover;
            border-color: $color-green-hover;
        }
    }
}
