// SEARCH

.search {
    background: $color-alabaster;
    height: $helper-space * 4;
    &__wrapper {
        @include flex-center;
        height: $helper-space * 4;
    }
    &__box {
        position: relative;
    }
    &__icon {
        &::before {
            content: url(../public/img/search.png);
            position: absolute;
            top: $helper-space / 2;
            left: $helper-space / 2;
        }
    }
    &__input {
        @include border-radius;
        @include font-primary;
        padding-left: $helper-space * 1.5;
        height: $helper-space * 2;
        border: $helper-space / 8 solid $color-silver;
        // pseudo-classes & pseudo-elements
        &:focus,
        &:focus-visible {
            border: $helper-space / 8 solid $color-venice;
            outline: 0;
        }
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &::-ms-input-placeholder {
            color: $color-silver;
        }
        &::-moz-placeholder {
            opacity: 1;
        }
        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }
    &__button {
        @include border-radius;
        @include font-primary;
        background: $color-green;
        color: $color-white;
        padding: 0 $helper-space * 1.5;
        height: $helper-space * 2;
        border: 0;
        cursor: pointer;
        &:focus {
            outline-color: transparent;
        }
    }
}
