// TABLE

.table {
    background: $color-white;
    @include min-xs {
        height: calc(100vh - #{$helper-space * 7});
    }
    &__wrapper {
        overflow-x: auto;
        @include max-xs {
            padding: $helper-space / 2;
        }
    }
    &__results {
        width: 100%;
        margin-top: $helper-space * 2;
        text-align: left;
        color: $color-silver;
        @include max-xs {
            margin: 0;
        }
        thead {
            @include font-sm;
            @include max-xs {
                @include hide-element;
            }
        }
        tbody {
            @include font-md;
            > tr.table__empty {
                border-color: transparent;
                > td {
                    color: $color-wcag;
                }
            }
        }
        tr {
            @include transition-all;
            &:hover {
                background: $color-alabaster;
                @include max-xs {
                    border-color: $color-venice;
                    background: $color-white;
                    td:first-child {
                        background: $color-venice;
                        border-color: $color-venice;
                        color: $color-white;
                    }
                }
            }
            @include max-xs {
                @include flex-row;
                border: $helper-space / 16 solid $color-silver;
                margin-bottom: $helper-space / 2;
                &:last-child {
                    margin-bottom: 0;
                }
            }
            th,
            td {
                height: $helper-space;
                width: auto;
                vertical-align: middle;
                padding: $helper-space $helper-space * 1.5;
                border: $helper-space / 16 solid transparent;
                border-bottom: $helper-space / 16 solid $color-alabaster;
                @include min-lg {
                    &:first-child {
                        width: 10%;
                    }
                    &:nth-child(2) {
                        width: 25%;
                    }
                }
                @include device-landscape {
                    padding: $helper-space * 0.75;
                }
                @include max-xs {
                    padding: $helper-space * 0.875;
                }
            }
            td {
                @include max-xs {
                    @include font-xl;
                    position: relative;
                    width: 100%;
                    border: $helper-space / 16 solid $color-alabaster;
                    &:first-child {
                        background: $color-alabaster;
                    }
                }
                &:nth-child(2) {
                    @include font-xl;
                    color: $color-carbon;
                }
            }
        }
    }
}
