// WCAG

.screenreader-text {
    @include transition-transform;
    @include border-wcag;
    position: absolute;
    span {
        @include flex-center;
        justify-content: center;
        height: $helper-space * 2.5;
    }
    &:focus {
        @include fade-top;
        display: inline-block;
        box-sizing: border-box;
        background: $color-venice;
        color: $color-alabaster;
        width: $helper-space * 9;
        height: $helper-space * 3;
        margin: auto;
        z-index: 2;
    }
}

.helpers {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: $helper-space / 2;
    @include device-landscape {
        display: flex;
        justify-content: center;
        width: 100%;
        top: 0;
        bottom: auto;
    }
    @include max-xs {
        @include color-invert;
        top: 0;
        bottom: auto;
        padding: $helper-space * 0.375;
    }
    .contrast-toggle {
        @include border-wcag;
        background: url("../public/img/contrast.svg") no-repeat;
        width: $helper-space * 2;
        height: $helper-space * 2;
        height: auto;
        padding: $helper-space;
        cursor: pointer;
        @include device-landscape {
            @include color-invert;
            &:focus {
                border-color: $color-black;
            }
        }
        @include max-xs {
            &:focus {
                border-color: $color-marine;
            }
        }
    }
}

.dark-mode {
    @include color-invert;
    @include transition-filter;
    @include font-wcag;
    background: $color-black;
    .header {
        background: $color-white;
        &__brand {
            @include max-xs {
                border-color: $color-venice;
            }
            img:focus {
                border-color: $color-black;
            }
        }
        &__filter {
            span {
                color: $color-carbon;
            }
            .header__navigation > ul {
                > li {
                    > a {
                        color: $color-carbon;
                        margin-top: 0;
                        &:focus {
                            border: 2px dashed $color-black;
                            outline: 0;
                        }
                    }
                    &.header__filter-overlay {
                        background: $color-venice;
                    }
                    &:first-child {
                        > a {
                            color: $color-white;
                        }
                    }
                }
                &:hover {
                    li:not(:hover) {
                        > a {
                            color: $color-carbon;
                        }
                    }
                }
            }
        }
    }
    .search {
        border-color: $color-venice;
        &__icon::before {
            content: "";
        }
        &__input {
            @include color-invert;
            color: $color-white;
            border-color: $color-silver;
            padding-left: $helper-space / 2;
            background: $color-carbon;
            &:focus {
                border-color: $color-alabaster;
            }
            &.input__error {
                border-color: $color-wcag;
            }
        }
        &__button {
            color: $color-black;
            &:hover {
                background: $color-wcag;
                border-color: $color-wcag;
            }
        }
    }
    .table {
        &__results {
            color: $color-venice;
            tbody {
                > tr.table__empty {
                    @include color-invert;
                }
            }
            tr {
                border-color: $color-wcag;
                &:hover {
                    background: $color-green;
                    td {
                        &:first-child {
                            background: $color-white;
                            color: $color-black;
                            border-bottom-color: $color-marine;
                        }
                    }
                }
            }
            th,
            td {
                @include transition-all;
                border: $helper-space / 16 solid $color-wcag;
            }
            td {
                &:first-child {
                    background: $color-wcag;
                    color: $color-white;
                    @include min-xs {
                        border-bottom-color: $color-white;
                    }
                }
            }
        }
    }
    .screenreader-text {
        span {
            height: $helper-space * 2.75;
        }
        :focus {
            border-color: $color-black;
            background: $color-wcag;
        }
    }
    .helpers {
        .contrast-toggle:focus {
            border-color: $color-white;
        }
    }
}
