// COLORS

$color-white: #fff;
$color-alabaster: #f8f8f8;
$color-silver: #c4c4c4;
$color-wcag: #da643e; // inverted $color-marine
$color-green: #8dc63f;
$color-bermuda: #80c4da;
$color-marine: #259bc1;
$color-venice: #055d92;
$color-carbon: #292929;
$color-black: #000;
