/* DEBUG */

* {
  outline: 2px dotted #5f3767;
}
* * {
  outline: 2px dotted #ac5067;
}
* * * {
  outline: 2px dotted #e67369;
}
* * * * {
  outline: 2px dotted #fb9c63;
}
* * * * * {
  outline: 2px dotted #febf57;
}
* * * * * * {
  outline: 1px solid #5f3767;
}
* * * * * * * {
  outline: 1px solid #ac5067;
}
* * * * * * * * {
  outline: 1px solid #e67369;
}
* * * * * * * * * {
  outline: 1px solid #fb9c63;
}
* * * * * * * * * * {
  outline: 1px solid #febf57;
}
