// HELPERS

@function str-replace($string, $search, $replace: "") {
    $index: str-index($string, $search);
    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace +
            str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }
    @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;
    $extmods: (
        eot: "?",
        svg: "#" + str-replace($name, " ", "_"),
    );
    $formats: (
        otf: "opentype",
        ttf: "truetype",
    );
    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
    }
    @font-face {
        font-family: quote($name);
        font-style: $style;
        font-weight: $weight;
        src: $src;
    }
}

// SETUP

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
@include font-face(Atkinson, fonts/Atkinson);

@mixin font-primary {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

@mixin font-wcag {
    font-family: "Atkinson", monospace;
    font-weight: 400;
}

// SIZES

@mixin font-sm {
    font-size: $helper-space * 0.75;
}

@mixin font-md {
    font-size: $helper-space * 0.875;
}

@mixin font-xl {
    font-size: $helper-space;
}
