// FONTS
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

@mixin font-primary {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

@mixin font-bold {
    font-weight: 700;
}

@mixin font-sm {
    font-size: $helper-space * 0.75;
}

@mixin font-md {
    font-size: $helper-space * 0.875;
}

@mixin font-xl {
    font-size: $helper-space;
}
