// HELPERS

$helper-space: 1rem;
$helper-half: $helper-space / 2;
$helper-unit: $helper-space / 16;

// MIXINS

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin text-uppercase {
    text-transform: uppercase;
}

@mixin text-selection {
    ::selection {
        background: $color-venice;
        color: $color-primary;
    }
}

@mixin color-invert {
    filter: invert(100%);
}

@mixin hide-element {
    left: -9999px;
    position: absolute;
    visibility: hidden;
}

@mixin size-navigation {
    width: $helper-space * 3.6;
    @include device-landscape {
        width: $helper-space * 3.3;
    }
    @include max-xs {
        width: $helper-space * 4.8;
    }
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        width: 100%;
        height: 0;
        clear: both;
    }
}

// BORDERS

$border-width: $helper-space / 8;
$border-style: solid;
$border-placeholder: $border-width $border-style transparent;

@mixin border-radius {
    border-radius: $helper-space / 3;
}

@mixin border-wcag-color {
    border-color: $color-wcag;
}

@mixin border-wcag-dashed {
    border: $border-width dashed transparent;
    &:focus {
        @include border-wcag-color;
        outline: 0;
        color: $color-primary;
    }
    .wcag-mode {
        &:focus {
            @include border-wcag-color;
        }
    }
}

@mixin box-shadow {
    box-shadow: 0px 0px 3px 0px $color-silver;
}

// INPUTS

@mixin input-safari {
    -webkit-appearance: none;
    outline-offset: -#{$helper-space / 4};
}

@mixin input-status {
    &.input__success {
        border-color: $color-green-default;
        color: $color-green-default;
    }
    &.input__error {
        @include border-wcag-color;
        color: $color-wcag;
    }
}

@mixin input-placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
        opacity: 1;
    }
    &::-ms-input-placeholder {
        @content;
    }
    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
    }
}

// ANIMATIONS

$transition-duration: 0.3s;
$transition-easing: linear;

@mixin transition-filter {
    transition: filter $transition-duration $transition-easing;
}

@mixin transition-all {
    transition: all $transition-duration $transition-easing;
}

@mixin transition-transform {
    transform: translateY(-2rem);
    transition: transform $transition-duration $transition-easing;
    width: $helper-unit;
    height: $helper-unit;
    top: auto;
    left: -999px;
}

@mixin fade-top {
    transform: translateY(0em);
    width: auto;
    height: auto;
    top: 0;
    left: 0;
}

@mixin animation-opacity {
    animation: intro $transition-duration $transition-easing;
    @keyframes intro {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
