// HELPERS

$helper-space: 1rem;

// MIXINS

@mixin flex-center {
    display: flex;
    align-items: center;
}

@mixin flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@mixin text-uppercase {
    text-transform: uppercase;
}

@mixin color-invert {
    filter: invert(100%);
}

@mixin border-radius {
    border-radius: $helper-space / 3;
}

@mixin border-wcag {
    border: $helper-space / 8 dashed transparent;
    &:focus {
        border-color: $color-wcag;
        outline: 0;
    }
}

@mixin hide-element {
    left: -9999px;
    position: absolute;
    visibility: hidden;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        width: 100%;
        height: 0;
        clear: both;
    }
}

// ANIMATIONS

$transition-delay: 0.3s;
$transition-timing: linear;

@mixin transition-filter {
    transition: filter $transition-timing $transition-delay;
}

@mixin transition-all {
    transition: all $transition-timing $transition-delay;
}

@mixin transition-transform {
    transform: translateY(-2rem);
    transition: transform $transition-delay $transition-timing;
    width: 1px;
    height: 1px;
    top: auto;
    left: -999px;
}

@mixin fade-top {
    transform: translateY(0em);
    width: auto;
    height: auto;
    top: 0;
    left: 0;
}

@mixin animation-opacity {
    animation: intro $transition-timing $transition-delay;
    @keyframes intro {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
