// BREAKPOINTS

$device-xs: 480px;
$device-sm: 768px;
$device-md: 960px;
$device-lg: 1280px;

@mixin min-md {
    @media screen and (min-width: #{$device-lg}) {
        @content;
    }
}

@mixin max-xs {
    @media screen and (max-width: #{$device-xs - 1px}) {
        @content;
    }
}
