// BREAKPOINTS

$device-xs: 480px;
$device-sm: 768px;
$device-md: 960px;
$device-lg: 1280px;

@mixin min-lg {
    @media screen and (min-width: #{$device-lg}) {
        @content;
    }
}

@mixin min-md {
    @media screen and (min-width: #{$device-md}) {
        @content;
    }
}

@mixin max-md {
    @media screen and (max-width: #{$device-md - 1px}) {
        @content;
    }
}

@mixin min-sm {
    @media screen and (min-width: #{$device-sm}) {
        @content;
    }
}

@mixin max-xs {
    @media screen and (max-width: #{$device-xs - 1px}) {
        @content;
    }
}

@mixin min-xs {
    @media screen and (min-width: #{$device-xs}) {
        @content;
    }
}

@mixin device-landscape {
    @media screen and (min-width: #{$device-xs}) and (max-width: #{$device-sm - 1px}) {
        @content;
    }
}

@mixin device-retina {
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        @content;
    }
}
